<h2>Appointment Index</h2>
<style type="text/css">
html, body{width: 100%; height: 100%; padding: 0; margin: 0}
div{position: absolute; padding: 1em}
#nw{background: #DCDCDC; top: 0; left: 0; right: 50%; bottom: 50%}
#ne{background: #FFFAFA; top: 0; left: 50%; right: 0; bottom: 50%}
#sw{background: #FFFAFA; top: 50%; left: 0; right: 50%; bottom: 0}
#se{background: #DCDCDC; top: 50%; left: 50%; right: 0; bottom: 0}
</style>

<div id="nw">
  <h2 align="center">Patient<br>
    <!--  <iframe src="https://mdn-samples.mozilla.org/snippets/html/iframe-simple-contents.html" title="iframe example 1"  width="400" height="300"> -->
  <form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form> 
	  <!-- <p>Your browser does not support iframes.</p>
	 </iframe> -->
  </h2>
</div>
<div id="ne"><h2 align="center">Doctor<br>
  <!-- <iframe src="https://mdn-samples.mozilla.org/snippets/html/iframe-simple-contents.html" title="iframe example 1"  width="400" height="300">
	  <p>Your browser does not support iframes.</p>
	 </iframe> -->
	 <form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>
</h2></div>
<div id="sw"><h2 align="center">Create Appointment<br>
 <!-- <iframe src="https://mdn-samples.mozilla.org/snippets/html/iframe-simple-contents.html" title="iframe example 1"  width="400" height="300">
	  <p>Your browser does not support iframes.</p>
	 </iframe> -->
	 <form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>
	 </h2></div>
<div id="se"><h2 align="center">Appointments<br>
 <iframe src="https://mdn-samples.mozilla.org/snippets/html/iframe-simple-contents.html" title="iframe example 1"  width="400" height="300">
	  <p>Your browser does not support iframes.</p>
	 </iframe>
</h2></div>




<%= react_component 'Appointments', {data: @appointments} %>